{% extends "base.html" %}
{% block content %}
    <h1 class="title">Git</h1>
    <h2 class="subtitle">Branch</h2>
    <p>A branch allows you to develop features, fix bugs, or safely experiment with new ideas in a contained area in your repository. New branches are often created from an already existing branch (most likely the default branch of the repository). When a repository with content included is developed on GitHub, the repository is created with a single branch. </p>
    <h2 class="subtitle">Merge</h2>
    <p>Merging for a pull request allows the user to retain all of the commits in a single branch, squash all commits into a single commit or by rebasing individual commits from a newly created branch onto the default branch.</p>
    <h2 class="subtitle">Commit</h2>
    <p>Commits are meaningful changes that represent indicators that your code has been edited. Similar to saving a file's that's being edited, a commit records changes to one or more files in your branch. Git assigns each commit a unique ID, called a SHA or hash, that identifies the specific changes, when the changes were made, and who created the changes. When you make a commit, you must include a commit message that briefly describes the changes.</p>
    <h2 class="subtitle">Tags</h2>
    <p>Tags are annotated messages that can be created, pushed and viewed in GitHub Desktop. Tags are associated with commits, so you can use a tag to mark an individual point in your repository's history, which includes a version number for a release. By default, GitHub Desktop will push the tag that you create to your repository with the associated commit.</p>
    <h2 class="subtitle">Repositories</h2>
    <p>A repository is a domain that contains all of your project's files and each file's revision history. You can discuss and manage your repository</p>
{% endblock %}