{% extends "base.html" %}
{% block content %}
    <h1 class="title">Object-Oriented Programming (OOP)</h1>
    <h2>What is “object-oriented programming”?</h2>
    <p>Object-oriented programming (OOP) is a computer programming model that organizes software design around data, or objects, rather than functions and logic. An object, in this context, can be defined as a data field that has unique attributes and behavior. OOP focuses on the objects that developers want to manipulate rather than the logic required to manipulate them. This approach to programming is well-suited for programs that are large, complex and actively updated or maintained. This includes programs for manufacturing and design, as well as mobile applications. For example, OOP can be used for manufacturing system simulation software.</p>
    <h2>Object-oriented programming in Python</h2>
    <p>In Python, object-oriented programming (OOPs) is a programming paradigm that uses objects and classes in programming. OOPs aim to implement real-world entities like inheritance, polymorphisms, encapsulation, etc. in the programming. The main concept of OOPs for this programming language and many others is to bind the data and the functions that work on that together as a single unit so that no other part of the code can access the data.</p>
    <h2></h2>
    <p></p>
    <h2>Glossary</h2>
    <ul>
        <li><b>Instantiation:</b> </li>
        <li><b>Object:</b> </li>
        <li><b>Class:</b> </li>
        <li><b>Namespace:</b> </li>
        <li><b>Constructor:</b> </li>
        <li><b>Fixture:</b> </li>
        <li><b>Type Hint:</b> </li>
        <li><b>Type Cast:</b> </li>
        <li><b>Unit Test:</b> </li>
        <li><b></b> </li>
    </ul>
{% endblock %}