{% extends "base.html" %}
{% block content %}
    <h1 class="title">Git</h1>
    <h2 class="subtitle">Branch</h2>
    <p>A branch allows you to develop features, fix bugs, or safely experiment with new ideas in a contained area in your repository. New branches are often created from an already existing branch (most likely the default branch of the repository). When a repository with content included is developed on GitHub, the repository is created with a single branch. </p>
    <h2 class="subtitle">Merge</h2>
    <p>Merging for a pull request allows the user to retain all of the commits in a single branch, squash all commits into a single commit or by rebasing individual commits from a newly created branch onto the default branch.</p>
    <h2 class="subtitle">Commit</h2>
    <p>Committing </p>
    <h2 class="subtitle">Tags</h2>
    <p></p>
    <h2 class="subtitle">Repositories</h2>
    <p>A repository is a domain that contains all of your project's files and each file's revision history.</p>
{% endblock %}