{% extends "base.html" %}
{% block content %}
    <h1>Pylint</h1>
    <h2>What is Pylint?</h2>
    <p><b>Pylint</b> is a Python static code analysis tool which looks for programming errors, helps enforcing a coding standard, sniffs for code smells and offers simple refactoring suggestions. Pylint is highly configurable, having special pragmas to control its errors and warnings from within your code, as well as from an extensive configuration file. It is also possible for one to write their own plugins for adding one's own checks or for extending Pylint in one way or another</p>
    <h2>How Pylint is used in our program</h2>
    <p>Along with <b>Pytest</b>, Pylint plays an integral role regarding the testing process of our calculator program. Pylint determines whether </p>
{% endblock %}